@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --app-colour: #5fffaf;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.barlow-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-style: italic;
  font-weight: 400;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  margin: 0;
}

/* Background colour of the input field */
.v-text-field .v-field {
  background-color: rgb(var(--v-theme-quaternary));
}

.v-text-field .v-field__overlay {
  opacity: 0.1 !important;
}

/* Font colour of input field */
.v-text-field .v-field input {
  color: rgb(var(--v-theme-brandBlack)) !important;
}
/* Colour of the bottom line */
.v-text-field .v-field__outline::after {
  border-color: rgb(var(--v-theme-brandGold));
}
